/* App */
body{
    margin:0 auto;
    width: 80%;
}
.App { 
    border: 1px solid pink;
    min-height:max-content; 
    margin:2%; 
    /* max-width:932px; */
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);

}
.App h1 {
    background-color:pink;
    padding:10px;
    margin-bottom:0;
    text-align:center;
}

.menu-plus-component {
    display:flex;
}
.Home, .create-div, .upload-div, .playlists-component, .view-playlist-div
{
    width:85%;
}
/* MenuBar */
.MenuBar {
    display:flex;
    flex-direction: column;
    width:20%;
    justify-content:start;
    background:rgba(8, 10, 141, 0.76);
    /* box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8); */

}
.MenuBar a {
    margin:10% 0;
    color:gold;
    font-size:18px;
    width:90%;
    /* border-radius:12px; */
    padding:5%;
    text-align:center;

}
.MenuBar a:hover{
    background:rgba(141, 141, 201, 0.63);

    transition: background 1s ease .1s;
}
/* Home */
.menu-plus-component{
    background: url("https://images.unsplash.com/photo-1616555831792-ad1167d4da2a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-size: cover;
    color: #eee;
    min-height:400px;
    perspective: 1000px;
    perspective-origin: 1000%;
    animation: animation 100s linear infinite;
}

@keyframes animation {
    0%{
        background-position: 0 800px;
    }
  50% {
      background-position:0 1000px;
  }
  100% {
      background-position:0 800px ;
  }

}

.Home {
    height:400px;
}
.Home h5 {
    text-align:center;
    color:purple;
    font-size:29px;
    margin-top:0%;
    padding-top:5%;
}
.Home ul {
    text-align:center;
    width:90%;
    list-style-type:none;    

}

.Home div:last-child {
    text-align:center;
    color:olive;
    font-size:39px;
}

/* Create Playlist component */
.create-div {
    display:flex;
    justify-content:center;
    align-items:center;    
}

form {
    border:2px solid blue;
    display:flex;
    flex-direction:column;
    padding:10px;
    background-color:none;
    transition:background 2s ease 0.1s;
}
form:hover{
    background-color: rgba(12,34,67,.6)
}
input { width:300px; }
button {
    background-color:turquoise;
    border:2px solid black;
}

/* playstsTemplate component */
.playlists-component {
    display:flex;
    flex-direction:column;
}
h4 { 
    text-align: center;
    color:navy;
}
.playlists-container {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-bottom:5%;
}
.playlists-item {
    background-color:rgba(0,0,0,.7);
    border-radius:10px;
    margin:.8% auto;
    padding-left:1%;
    width:min-content;
}
.playlists-item img {
    padding:2%;
    margin-left:-5px;
    width:170px;
    height:auto;
    border-radius:15px;
}
.playlists-item a {
    color:cyan;
    font-size:16px;
    text-overflow:wrap;
}
img { width: 150px; }
/* .playlists-item-snippet {
    padding-left:3%;
} */
a { font-size: 19px; }
.playlists-item-meta {
    background-color: rgb(153, 98, 27);
}

/* upload component */
.upload-div {
    width:85%;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:background 2s ease 0.1s;
}

/* viewPlaylist component */
.view-playlist-div {
    display:flex;
    flex-direction:column;
    margin:0;
    padding:0;
}
/* iframe */
.view-playlist-div > div:first-of-type {
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.view-playlist-div div iframe {
    width: 80%;
    border: none;
}

/* ----------------------------------------- */
/* ----------------------------------------- */
.video-frame-container{
    display: flex;
    flex-direction: column;
}
.video-control-bar {
    width:0;
    height: auto;
    /* transform: translateX(50%) translateY(50%); */
    border-right: 12px solid blue;/* rgba(8, 10, 141, 0.76);*/
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    transition: width 1s ease-in-out;

  }
  
  .video-control-bar-handle {
    height:70px;
    width:0;
    background-color: rgba(199, 199, 199, 0.842);
    transform: translateX(100%);
    border-right: 12px solid black;
    transition: width 1s ease-in-out;
    cursor: pointer;
  }
  
  /* .d1:hover .d2 */
  .clicked
  {
    width:40px;
    transition: width 1s ease-in-out;
  }
  .video-control-bar-handle.clicked {
      width:90px;
  }
  .video-control-buttons {
      font-size: 30px;
      margin-right:-20px;
      background-color:none;
  }
/* ----------------------------------------- */
/* ----------------------------------------- */


.playlist-items-container {
    background-color:transparent;
    height:200px;
    overflow-x:auto;
    border-radius:8px;
    margin:12px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);

}
.playlist-item:hover{
    background-color:rgba(0, 0, 128, 0.411);
}
.playlist-item {
    border-top:1px solid rgba(7, 205, 219, 0.884);
    display:flex;
    margin:0;
    align-items:center;
    padding:0 0 0 5px;
}
.playlist-item img { width:100px; }
.playlist-item h4 { 
    padding-left:2%; 
    color:white; 
    text-align:left;
}